pip==25.3
streamlit
python-dotenv
langchain-groq
langchain-core
langchain
langchain-community
langchain-text-splitters
tiktoken
langchain-openai
langchain-qdrant
qdrant-client
supabase
psycopg2-binary
pypdf
